package main

templ landing(){

    <div>
        <h1>Submit a new website</h1>
        <form action="/submit" method="POST">
            <label for="url">Website URL:</label>
            <input type="text" id="url" name="url">
            <input type="submit" value="Submit">
        </form>
    </div>
    
		
}